<nav>
    <div class="site-title">
        <a href="/">Erdal Blog</a>
        <p>An Erdal Dincer Product</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>